{
    "enabletls": true,
    "certpath": "/path/to/your/crt/file",
    "keypath": "/path/to/your/key/file",
    "updatetime": "",
    "port": "9090"
}
//you can use relative path as well as absolute path
//if you set enabletls to false the pathes will be ignore